*{
    font-family:Roboto;
}

body{
    padding:0;
    margin: 0;
    width: 100vw;
    height:100vh;
    display:flex;
    flex-direction: column;
}

.column{
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
}

.main{
    flex:1;
    justify-content: space-evenly;
}
.first{
    background-color: #1F2937;
    margin:0px;
    padding:24px;
    flex:1;
    justify-content: space-around;
}

.header{
    justify-content: space-between;
}

.logo{
    font-size:24px;
    color:#F9FAF8;
}

.hlinks{
    gap: 16px;
    font-size:18px;
    color:#E5E7EB;
}

.awesome{
    gap: 8px;
}
.thick{
    font-size:48px;
    color:#F9FAF8;
    font-weight:800;
}

.thin{
    font-size:18px;
    color: #F9FAF8;
}

button{
    font-size:18px;
    color: #F9FAF8;
    background-color: #3882F6 ;
    border: 0px solid black;
    padding: 4px 16px;
    border-radius:8px;
    box-sizing: border-box;
    width: 160px;
    height: 40px;
}

.sheader{
    font-size: 36px;
    font-weight:900;
    color:#1F2937;
}
