*{
    font-family:Roboto;
}

body{
    padding:0;
    margin: 0;
    width: 100vw;
    height: auto;
    display:flex;
    flex-direction: column;
}

.column{
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
}


.main{
    justify-content: space-evenly;
    flex-direction: column;
    height:2000px;
}
.first{
    background-color: #1F2937;
    margin:0px;
    padding:24px;
    flex:1;
    justify-content: space-around;
}

.header{
    justify-content: space-between;
}

.logo{
    font-size:24px;
    color:#F9FAF8;
}

.hlinks{
    gap: 16px;
    font-size:18px;
    color:#E5E7EB;
}

.awesome{
    gap: 8px;
}
.thick{
    font-size:48px;
    color:#F9FAF8;
    font-weight:800;
}

.thin{
    font-size:18px;
    color: #F9FAF8;
}

button{
    font-size:18px;
    color: #F9FAF8;
    background-color: #3882F6 ;
    border: 0px solid black;
    padding: 4px 16px;
    border-radius:8px;
    box-sizing: border-box;
    width: 160px;
    height: 40px;
}

.content{
    gap: 10px;
    justify-content: space-around;
}

.second{
    flex:1;
    justify-content: center;
    align-items: center;
    padding: 24px;
    gap: 24px;
}

.sheader{
    font-size: 36px;
    font-weight:900;
    color:#1F2937;
}
.cards{
    gap: 5px;
}
.card{
    align-items: center;
    text-align: center;
}

.card img{
    width: 80%;
}

.third{
    flex:1;
    background-color: #E5E7EB;
    justify-content: center;
    align-items: center;
    padding: 24px;
}

.quote{
    color:#1F2937;
    font-weight: 300;
    font-size: 36px;
    font-style: italic;
}

.source{
    align-self:flex-end
}

.fourth {
    flex:1;
    padding: 24px;
    flex-basis: 100vm;
}

.sign {
    margin:auto;
    background-color: #3882F6;
    border-radius: 8px;
    padding: 50px;
    justify-content: space-between;
    gap: 20px;
    box-sizing: border-box;
    width: 80vw;
}

.head{
    font-size:24px;
    color:#F9FAF8;
}

.sbutton{
    border-radius: 8px;
    border: 2px solid white;
}

.footer{
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #1F2937;
}