*{
    font-family:Roboto;
}

.column{
    dipslay: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
}

.first{
    background-color: #1F2937;
}

.logo{
    font-size:24px;
    color:#F9FAF8;
}